.event_card{
    background-color: #fadcac;
    height: 300px;
    width: 25%;
    border: #065446;
    border-style: solid;
    margin: 40px;
    display: inline-block;
    box-shadow: 10px 10px #076957;
}
.event_card_upper{
 /* background-color: tomato; */
 height: 50%;
 border-top: black;
}
.event_card_upper img {
    height: 100%;
    width: 100%;
}
.event_card_lower{
    background-color: #197163;
    height: 50%;
}
.event_card_price{

}
.event_card_location{
float: left;
}
.event_card_title{
text-align: center;
}
.event_card_tickets{
float: left;
}
.event_card_details{
float: right;
margin-bottom: 2px;
}