body{
    background-color: lightgreen;
    margin: 0px;
    padding: 0px;
    border: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    height: 200px; 
    background-color: darkgreen;
    padding-top: 10px;
}

nav{
    height: 50px;
    background-color: lightgreen;
    margin-top: 50px;
}

nav a{
    color: black;
    text-decoration: none;
    cursor: crosshair;
}

nav a:hover{
    color: grey;
}

nav ul li{
    display: inline-block;
    height: 50px;
    width: 150px;
    line-height: 50px;
}

#gallery{
    width: 960px;
    margin: 0 auto;
}

.project{
    min-width: 50px;
    min-height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: green;
    margin: 17px;  
    display: inline-block;
}



.project p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.project img{
    width: 100%;
    display: block;
}

.project_1{
    text-align: center;
}